<?xml version="1.0" encoding="UTF-8"?>

<config>
    <modules>
        <Findologic_Search>
            <version>1.0.4</version>
        </Findologic_Search>
    </modules>

    <global>
        <helpers>
            <findologic>
                 <class>Findologic_Search_Helper</class>
            </findologic>
        </helpers>
        <models>
            <findologic>
                <class>Findologic_Search_Model</class>
            </findologic>
        </models>
        <blocks>
            <search>
               <rewrite>
                   <product_list_toolbar>Findologic_Search_Block_Product_List_Toolbar</product_list_toolbar>
               </rewrite>
            </search>
        </blocks>
    </global>
    
    <frontend>
        <routers>
            <findologic>
                <use>standard</use>
                <args>
                    <module>Findologic_Search</module>
                    <frontName>findologic</frontName>
                </args>
            </findologic>
        </routers>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <Findologic_Search>
                        <type>singleton</type>
                        <class>Findologic_Search_Model_Observer</class>
                        <method>onCheckoutOnepageControllerSuccess</method>
                    </Findologic_Search>
                </observers>
            </checkout_onepage_controller_success_action>
        </events>
        <layout>
            <updates>
                <Findologic_Search module="Findologic_Search">
                    <file>findologic_search.xml</file>
                </Findologic_Search>
            </updates>
        </layout>
    </frontend>
</config>
